body {
	font-family: 'akkurat-light',Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 1.15;
}

p {
	font-family: 'akkurat-light';
}

.main {
	/*position: absolute;*/
	display: block;
	position: relative;
	top: 0%;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url('../images/bg-1.jpg');
}


.outer-most {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.outer {
	display: table;
	/*position: absolute;*/
	height: 100%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	/*background-color: grey;*/

}

.middle {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0;
	padding: 0;
}


.inner { 
	margin-left: auto;
	margin-right: auto;
	width: 75%;	/* 57% */
	position: relative;
	/*position: absolute;   for centering disable this*/
	/*visibility: hidden; /* display: none */
	/*display: none;*/

}

.prompt-msg {
	visibility: hidden;
	position: absolute;
	/* width: 75%; */
	margin-top: -10%;
	display: block;
}

.active {
	
}


.lark-icon {
	visibility: hidden;
	background-image: url('../images/lark_avatar.png');
	background-size: cover;
	display: inline-block;
	vertical-align: top;
	height: auto;
	z-index: 20;
	width: 64px;
	height: 64px;
	margin: 0 auto;
	margin-top: 10px;
}

.lark-first {
	position: relative;
}

.lark-second {
	position: relative;
}

.prompt-first {
	position: relative;
}

.prompt-second {
	position: relative;
}


@keyframes bounce {
	0% {
		transform:translateY(-100%);
		opacity: 0;
	}
	5% {
		transform:translateY(-100%);
		opacity: 0;
	}
	15% {
		transform:translateY(0);
		padding-bottom: 5px;
	}
	30% {
		transform:translateY(-50%);
	}
}

.email-form-buttons {
	position: relative;
}

.convo-btns {
	position: absolute;
	width: 75%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	visibility: hidden;
}

.hidden {
	display: none;
}


.prompt {
	width: 85%;
	margin-left: 5%;
	color: #FFF;
	font-size: 2.7em;
	display: inline-block;
}

.convo-btns {
	width: 100%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#prompt-4 {
	width: auto;
}

.prompt-a,
.lark-icon-a {
	margin-bottom: 5%;
}


/*
#container-2 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
}

#container-2a {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
}

#container-2b {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
}

#container-3 {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10%;
}

#container-4 {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -8%;
	text-align: center;
}


#container-button-2a {
	position: relative;
}

#container-button-2b {
	position: relative;
}
*/

.first-button {
	margin-right: 15%;
}

.flat-button {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 35%;
	/* height: 60px; */
	padding: 20px 0px;
	font-family: 'akkurat-bold';
	font-size: 1.5em;
	color: #FF820B;
	text-align: center;
	background: #FFF;
	border: 0;
	cursor: pointer;
	transform: translateZ(0px);
	transition-duration: 0.3s;
	transition-property: transform;
	-webkit-border-radius: 20px 0px 20px 0px;
	-moz-border-radius: 20px 0px 20px 0px;
	border-radius: 20px 0px 20px 0px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}

.flat-button:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.flat-button:hover,
.flat-button:focus,
.flat-button:active {
	transform: scale(1.1);
}

.flat-button:hover:before,
.flat-button:focus:before,
.flat-button:active:before {
	opacity: 1;
	transform: translateY(5px);
}

._input {
	background-color: transparent;
	display: inline-block;
	position: relative;
	width: 45%;
	/* height: 60px; */
	font-family: 'akkurat-bold';
	font-size: 1.5em;
	margin: 0px auto;
	padding: 14px 10px;
	border: 1px solid #FFF;
	border-radius: 5px;
	line-height: 1.38;
	color: #FFFFFF;
}

#submit-email {
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	line-height: 1.38;
	background-color: #FFFFFF;
	width: 60px;
	padding: 14px 10px;
	margin-left: 2%;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

/*
.opacity {
	opacity: 0.2;
}
*/

#index-footer {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	/*position: absolute;   flow w/ msg now*/
	bottom: 0;
	height: auto;
	z-index: 700;
}

@media(max-width: 1400px) {
    .prompt {
        font-size: 2.2em;
    }
	
	.lark-icon {
		width: 52px;
		height: 52px;
		margin-top: 6px;
	}

    .flat-button {
		padding: 15px 5px;
		font-size: 1.3em;
    }
	
	._input,
	#submit-email {
		padding: 14px 10px;
		font-size: 1.3em;
	}
	
    #container-4 {
        width: 75%;
    }
	
    #container-4 .lark-icon {
        margin-left: 15%;
    }
}

@media(max-width: 1200px) {
	.inner {
		/* width: 48%; */
	}

	.flat-button {
		padding: 13px 5px;
		/* height: 45px; */
		font-size: 1.2em;
	}
	
	._input,
	#submit-email {
		padding: 13px 8px;
		fint-size: 1.2em;
	}
}

@media(max-width: 1000px) {
	#welcome-msg,
	#container-2a,
	#container-2b,
	#container-3,
	#container-4 {
		width: 95%;
	}
	
	.prompt {
		font-size: 1.5em;
	}
	
	.lark-icon {
		width: 36px;
		height: 36px;
		margin-top: 5px;
	}
	
	.flat-button {
		padding: 10px 5px;
		font-size: 1em;
	}
	
	._input,
	#submit-email {
		padding: 10px 5px;
		font-size: 1em;
	}
	
	#container-4 .lark-icon {
		margin-left: 15%;
	}
	
	#container-4 .prompt {
		width: 40%;
		margin-left: 1%;
	}
}

@media(max-width: 790px) {
	.prompt {
		width: 75%;
	}
}




#cloudy {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1000;
	top: 30%;
	background-image: url('../images/clouds.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	opacity: 0.5;
	-webkit-animation: moveclouds 150s linear infinite;
	-moz-animation: moveclouds 150s linear infinite;
	-o-animation: moveclouds 150s linear infinite;
}

#cloudy2 {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 30;
	top: 20%;
	background-image: url('../images/clouds.png');
	background-repeat: repeat-x;
	background-position: 0px 0px;
	opacity: 0.5;
	-webkit-animation: movecloudss 100s linear infinite;
	-moz-animation: movecloudss 100s linear infinite;
	-o-animation: movecloudss 100s linear infinite;
	animation: movecloudss 100s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 60%;}
	100% {margin-left: -100%;}
}

@-moz-keyframes moveclouds {
	0% {margin-left: 60%;}
	100% {margin-left: -100%;}
}

@-o-keyframes moveclouds {
	0% {margin-left: 60%;}
	100% {margin-left: -100%;}
}

@-webkit-keyframes movecloudss {
	0% {margin-left: 50%;}
	100% {margin-left: -100%;}
}

@-moz-keyframes movecloudss {
	0% {margin-left: 50%;}
	100% {margin-left: -100%;}
}

@-o-keyframes movecloudss {
	0% {margin-left: 50%;}
	100% {margin-left: -100%;}
}

.page2 {
	background-image: url('../images/bg.jpg') !important;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative; /* Set the position property so z-index will apply */
	z-index: 20; /* Make sure this is higher than #menu */
	height: 100%;
	-webkit-animation: lightenup 30s infinite;
	-moz-animation: lightenup 30s infinite;
	-o-animation: lightenup 30s infinite;
	animation: lightenup 30s infinite;
}

@-webkit-keyframes lightenup {
	0% {opacity: 0.4;}
	100% {opacity: 1;}
}

@-moz-keyframes lightenup {
	0% {opacity: 0.4;}
	100% {opacity: 1;}
}

@-o-keyframes lightenup {
	0% {opacity: 0.4;}
	100% {opacity: 1;}
}

#sunshine {
	height: 10000px;
	width: 100%;
	position: absolute;
	z-index: 900;
    background: -webkit-radial-gradient(circle,yellow,blue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(circle,yellow,blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle,yellow,blue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(circle,yellow,blue); /* Standard syntax (must be last) */
	opacity: 0.5;
	overflow: hidden;
	-webkit-animation: sunrise 30s linear infinite;
	-moz-animation: sunrise 30s linear infinite;
	-o-animation: sunrise 30s linear infinite;
	animation: sunrise 30s linear infinite;
}

@-webkit-keyframes sunrise {
	0% {margin-top: 0px}
	100% {margin-top: -4000px}
}

@-moz-keyframes sunrise {
	0% {margin-top: 0px}
	100% {margin-top: -4000px}
}

@-o-keyframes sunrise {
	0% {margin-top: 0px}
	100% {margin-top: -4000px}
}
